[defaults]
collections_path = ansible/ansible_collections
interpreter_python = auto_silent
remote_tmp = /tmp/.ansible-${USER}/tmp

# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#host-key-checking
host_key_checking = False

[ssh_connection]
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining
pipelining = True

[callback_default]
result_format = yaml
