# Configuration file for Perforce service '{{ p4_server_name }}'
# Managed by Ansible

p4d {{ p4_server_name }}
{
    Owner    = {{ p4_user }}
    Execute  = {{ p4_execute_path }}
    Umask    = {{ p4_umask }}
    Args     = "{{ p4_args }}"
    Environment
    {
        P4ROOT = {{ p4_root }}
        P4PORT = {{ p4_port }}
        P4LOG  = {{ p4_log }}
        P4JOURNAL = {{ p4_journal }}
        PATH   = /bin:/usr/bin:/usr/local/bin:/opt/perforce/bin:/opt/perforce/sbin

        # Enables nightly checkpoint routine
        # This should *not* be considered a complete backup solution
        MAINTENANCE =   true
    }
}
